<h2 class='vertical'> New Point </h2>
<div class="col-md-5 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>New Point</h3>
    </div>
    <div class="card-body">
      <form action="/points/new-point" method="POST">
        <div class="form-group">
          <input type="text" name="latitude" class="form-control" placeholder="Latitude" autofocus step="any" id="lat" />
        </div>
        <div class="form-group">
          <input type="text" name="longitude" class="form-control" placeholder="Longitude" autofocus step="any" id="lng"/>
        </div>
        <div class="pure-form">
          <fieldset>
            <input
              type="button"
              name="btnLocation"
              class="btn btn-primary btn-block"
              value="Get Current Location">
          </fieldset>
        </div>
        <div class="form-group mt-3">
          <button class="btn btn-primary btn-block" type="submit">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Get current Location -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="/main.js"></script>

<h4>Move the pin to select a point</h4>

<!-- Display Map -->
<div id="map"></div>

<!--- Java Scripts for Map  --->
<script> 
  function initMap(){    
    function initialize(){
      navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {lat: position.coords.latitude, longi: position.coords.longitude};
          document.getElementById("lat").value = pos.lat;
          document.getElementById("lng").value = pos.longi;
          var latitude = parseFloat(document.getElementById("lat").value);
          var longitude = parseFloat(document.getElementById("lng").value);
          var posMap = {lat: latitude, lng: longitude};
          map = new google.maps.Map(document.getElementById('map'), {
              center: posMap,
              zoom: 15
          });
      var marker = new google.maps.Marker({
        position: posMap, 
        map: map, 
        draggable: true
      });

      google.maps.event.addListener(marker,'dragend',function(event) {
        var latitude = marker.getPosition().toString()
        latitude = latitude.split(',',1).toString()
        latitude = latitude.substring(1)

        var longitude = marker.getPosition().toString()
        var pos = longitude.indexOf(',')
        longitude = longitude.substring(pos+2).split(')',1).toString()

        document.getElementById("lat").value = latitude
        document.getElementById("lng").value = longitude
      });

      },errorHandler,{timeout:3000});
    }
    function errorHandler(err) {
        if(err.code == 1) {
            alert("Error: Access is denied!");
        } else if( err.code == 2) {
            alert("Error: Position is unavailable!");
        }
    }
    google.maps.event.addDomListener(window, 'load', initialize);  
  } 
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLfvcsagRYKp9CgzE3Uq2FRJLk-YnTvZI&callback=initMap"> </script>