<section class="card">
  <div class="card-body">
    <h1>How it Works?</h1>
    <hr class="my-4">
    <li>
      <a> First Register on the App or if you alredy have an account go to Login</a>
    </li>
    <li>
      <a> Add points on the map to create a route</a>
    </li>
    <li>
      <a> You can see your route on All points Added</a>
    </li>
    <li>
      <a> You can share your route</a>
    </li>
  </div>
  <img id="destacada" src="/images/ultrawide (116).jpg" alt="Responsive image">
</section>