<section class="card">
  <div class="card-body">
    <h1>Routes and Geolocation</h1>
    <hr class="my-4">
    <h3>First project of Special Topics in Telematics. App developed with Mongodb, Express, Nodejs and Javascript</h3>
    <h3>You can create routes adding coordinates (points) to this route. Then you can share your routes with other users</h3>
    <h4> Made by: Douglas Ardila Garcés </h4>
    <h4> Email: dardila5@eafit.edu.co </h4>
    <a href="https://github.com/douglasag17/TET-Project1" class="btn btn-primary mt-2"> Github </a>
  </div>
  <img id="destacada" src="/images/ultrawide (112).jpg" alt="Responsive image">
</section>